@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@100&display=swap');


:root {
	--main-color: #111;
	--white-item-color: #ffffff;
	--secondary-background-color: #202154;
	--link-background-color: rgba(255, 192, 42, 1);
	--list-background-color: #f1f1f1;
}
* {
	font-family: 'Roboto', 'Open Sans', sans-serif;
}
body {
	margin: 0px;
}
header {
background-color: rgba(0, 0, 0, 0.8);	
}
li.
p {

	var (--main-color);
}

.container {
	max-width: 1170px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	width: 200px;
}
.nav-menu {
	display: flex;
	list-style: none;

}
.nav-menu li {
	font-size: 18px;

}
.nav-menu li a {
	text-decoration: none;
	padding: 10px 20px;
	color: var(--main-color);
	background-color: #ddd;
	/*transition: all ease 0.25s;*/
	transition: .25s;
}
.nav-menu li a:hover {
	color: #ddd;
	background-color: var(--main-color);
}
.nav-menu li a:before {

}
.phone-number {
	color: #ddd;
	font-size: 18px;
	position: relative;
}
.phone-number:before {
	content: "";
	background: url(img/phone-ico.png);
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -30px;
}
#hero {
	background-image: url(img/hero-bg.jpg);
	background-position: 50%, 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.hero-overlay {
	padding-top: 100px;
	background-color: rgba(0, 0, 0, 0.3);
}
#hero h2 {
	font-family: Open Sans, Arial;
	color: var(--white-item-color);
	font-size: 56px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4;
}
#hero a {
	display: inline-block;
    text-decoration: none;
    background-color: var(--link-background-color);
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin-bottom: 36px;
    border-radius: 10px;
    font-weight: bold;
}
#facts-about-company {
	background-image: url(img/background-002.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.facts-company-overlay {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgba(0, 0, 0, 0.9);
}
.facts-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.facts-block-text {
	margin-left: 50px;
}
#facts-about-company h2 {
	font-family: Open Sans, Arial;
	color: var(--white-item-color);
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4;
}
#facts-about-company h3 {
	font-family: Open Sans, Arial;
	color: #ffc02a;
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.4;
}
#facts-about-company p {
	font-family: Roboto, Arial;
	color: var(--white-item-color);
	font-size: 18px;
	font-weight: normal;
	text-align: left;
}
.our-prices-block h2 {
	font-family: Open Sans, sans-serif;
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
}
.our-prices-block p {
	font-family: Roboto;
	font-size: 22px;
	text-align: center;
}
.our-prices-block p::first-letter {
	font-size: 130%;
}
.price-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.prices {
	width: calc((100% - 60px) / 3);
	background-color: var(--list-background-color);
	text-align: center;
}
.prices p {
	font-family: Open Sans;
	font-size: 22px;
	text-align: center;
	color: var(--white-item-color);
	background-color: var(--main-color);
	padding: 30px;
	margin: 0px;
}
.prices ul {
	padding: 41px 12px;
	margin: 0px;
	line-height: 1.4;
}
.prices li {
	font-family: Open Sans;
	font-size: 16px;
	line-height: 3;
	text-align: center;
	list-style-type: none;
}
.prices a {
	display: inline-block;
   	text-decoration: none;
	background-color: var(--link-background-color);
	text-align: center;
	padding: 20px 40px 20px 40px;
	margin-bottom: 36px;
	border-radius: 10px;
	font-weight: bold;
}
.prices a:hover {
	background-color: rgba(255, 210, 42, 1);
}
#cta {
	background-image: url(img/background-001.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.overlay {
	padding-top: 60px;
	background-color: rgba(0, 0, 0, 0.7);
}
#cta h2 {
	font-family: Arial, sans-serif;
	color: #fff;
	padding-top: 60px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#cta p {
	font-family: Roboto, sans-serif;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.button {
	text-align: center;
}
#cta a {
	display: inline-block;
    text-decoration: none;
    background-color: var(--link-background-color);
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin-bottom: 36px;
    border-radius: 10px;
    font-weight: bold;
}
#customers-feedback h2 {
	font-family: Open Sans, Arial;
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
}
#customers-feedback p {
	font-family: Roboto;
	font-size: 22px;
	text-align: center;	
}
#customers-feedback p::first-letter {
	font-size: 130%;
}
.content-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.clients {
	padding: 20px 20px;
    border-radius: 5px;
    background: var(--white-item-color);
    word-wrap: break-word;
   	line-height: 1.4;
   	margin-bottom: 80px;
}
.name {
	font-weight: bold;
}
.feedback-text {
	font-family: Roboto, Arial;
	font-size: 18px;
	color: var(--main-color);
	text-align: left;
}
#autos {
	background-image: url(img/background-003.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.auto-list {
	max-width: 341px;
	margin-bottom: 80px;
}
#autos h2 {
	font-family: Open Sans, Arial;
	color: var(--white-item-color);
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
}
#autos h3 {
	font-family: Open Sans, Arial;
	font-size: 24px;
	font-weight: bold;
	color: var(--link-background-color);
	text-transform: uppercase;
	text-align: left;
}
#autos p {
	font-family: Roboto, Arial;
	color: var(--white-item-color);
	font-size: 18px;
	font-weight: bold;
	text-align: left;

}
#autos span {
	font-family: Roboto, Arial;
	color: var(--white-item-color);
	font-size: 18px;
	text-align: left;
	line-height: 1.4;
}
.accent-text {
	font-family: Open Sans, Arial;
	font-size: 42px;
	color: var(--link-background-color);
	text-transform: uppercase;
}

