@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@100&display=swap');


:root {
	--main-color: #111;
	--white-item-color: #ffffff;
	--secondary-background-color: #202154;
	--link-background-color: rgba(255, 192, 42, 1);
	--list-background-color: #f1f1f1;
}
* {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
}
header {
	position: fixed;
	z-index: 5;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
li.
p {

	var (--main-color);
}

.container {
	max-width: 1170px;
	margin: auto;
}
/*Глобальные классы, используемые по всему документу*/
.head-text-style {
	font-family: Open Sans, Arial;
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4;
	margin: 30px 0 30px 0;
}
.head-yellow-text {
	font-family: Open Sans, Arial;
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4;
	margin-top: 40px;	
	color: var(--link-background-color);
}
.paragraph-text-style {
	font-family: Roboto;
	font-size: 22px;
	text-align: center;
	margin-bottom: 40px;
}
.paragraph-text-style::first-letter {
	font-size: 130%;
}
.accent-text {
	font-family: Open Sans, Arial;
	font-size: 42px;
	color: var(--link-background-color);
	text-transform: uppercase;
}
.overlay {
	padding-top: 60px;
	background-color: rgba(0, 0, 0, 0.7);
}
.button {
	text-align: center;
}
.button a {
	display: inline-block;
	text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
    background-color: var(--link-background-color);
    text-align: center;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}
.button a:hover {
	background-color: rgba(255, 210, 42, 1);
}

/*Стилизация хедера */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header a {
	text-decoration: none;
}
.header a .logo-name {
	display: block;
	color: var(--white-item-color);
	font-family: Roboto, sans-serif;
	font-size: 42px;
	font-style: bold;
	font-weight: 1000;
}
.logo-accent {
	color: var(--link-background-color);
}
.nav-menu {
	display: flex;
	list-style: none;

}
.nav-menu li {
	font-size: 18px;

}
.nav-menu li a {
	text-decoration: none;
	padding: 10px 20px;
	color: var(--main-color);
	background-color: #ddd;
	/*transition: all ease 0.25s;*/
	transition: .25s;
}
.nav-menu li a:hover {
	color: #ddd;
	background-color: var(--main-color);
}
.phone-number {
	color: #ddd;
	font-size: 18px;
	position: relative;
}
.phone-number:before {
	content: "";
	background: url(img/phone-ico.png);
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -30px;
}
.mob-nav-menu {
	display: none;
}
.mob-nav-menu li {
	font-size: 18px;

}
.mob-nav-menu li a {
	text-decoration: none;
	padding: 10px 20px;
	color: var(--main-color);
	background-color: #ddd;
	/*transition: all ease 0.25s;*/
	transition: .25s;
}
.mob-nav-menu li a:hover {
	color: #ddd;
	background-color: var(--main-color);
}

/* Стилизация по блокам в main */
#hero {
	background-image: url(img/hero-bg.jpg);
	background-position: 50%, 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.1);
}
#hero .overlay {
	background-color: rgba(0, 0, 0, 0.1);
}
#hero h1 {
	font-family: Open Sans, Arial;
	color: var(--white-item-color);
	font-size: 56px;
	font-weight: bold;
	text-align: center;
	line-height: 1.4;
	padding-top: 200px;
	padding-bottom: 87px;
}
#hero .button a {
    font-weight: 500;
    font-style: normal;
    margin-bottom: 130px;
}
#facts-about-company {
	background-image: url(img/background-002.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.facts-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 40px;
	padding-bottom: 60px;
}
.facts-block-text {
	margin-left: 50px;
}
#facts-about-company h2 {
color: var(--white-item-color);
}
#facts-about-company h3 {
	font-family: Open Sans, Arial;
	color: #ffc02a;
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	text-transform: uppercase;
	line-height: 2.0;
}
#facts-about-company p {
	font-family: Roboto, Arial;
	color: var(--white-item-color);
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	line-height: 1.4;
}
.our-prices-block {
	margin-bottom: 60px;
}
.price-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.prices {
	width: calc((100% - 60px) / 3);
	background-color: var(--list-background-color);
	text-align: center;
}
.prices p {
	font-family: Open Sans;
	font-size: 22px;
	text-align: center;
	color: var(--white-item-color);
	background-color: var(--main-color);
	padding: 30px;
	margin: 0px;
}
.prices ul {
	padding: 41px 12px;
	margin: 0px;
	line-height: 1.4;
}
.prices li {
	font-family: Open Sans;
	font-size: 16px;
	line-height: 3;
	text-align: center;
	list-style-type: none;
}
.prices .button {
	margin-bottom: 38px;
}
#cta {
	background-image: url(img/background-001.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#cta h2 {
	color: #fff;
}
#cta p {
	font-family: Roboto, sans-serif;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
#cta a {
    margin-bottom: 36px;
}
.content-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.clients {
	padding: 20px 20px;
    border-radius: 5px;
    background: var(--white-item-color);
    word-wrap: break-word;
   	line-height: 1.4;
   	margin-bottom: 80px;
}
.name {
	font-family: Roboto, Arial;
	font-size: 22px;
	font-weight: bold;
	line-height: 2.0;
	text-align: center;
}
.feedback-text {
	font-family: Roboto, Arial;
	font-size: 18px;
	color: var(--main-color);
	text-align: left;
}
#autos {
	background-image: url(img/background-003.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.auto-list {
	display: inline-block;
	max-width: 341px;
	margin-bottom: 80px;
}
#autos h2 {
	color: var(--white-item-color);
}
#autos h3 {
	font-family: Open Sans, Arial;
	font-size: 24px;
	font-weight: bold;
	color: var(--link-background-color);
	text-transform: uppercase;
	text-align: left;
	line-height: 1.7;
}
#autos p {
	font-family: Roboto, Arial;
	color: var(--white-item-color);
	font-size: 18px;
	font-style: bold;
	text-align: left;
	line-height: 2.0;

}
#autos span {
	font-family: Roboto, Arial;
	color: var(--white-item-color);
	font-size: 18px;
	text-align: left;
	line-height: 1.4;
}

.order-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
#order ol {
	counter-reset: orderpunkt;
	list-style-type: none;
}
#order li { 
	display: block;
	width: 500px;
	word-wrap: break-word;
	color: var(--main-color);
	position: relative;
	font-family: Roboto, Arial;
	font-size: 18px;
	font-weight: 100;
	padding: 0px 0px 39px 0px;
}
#order li:before {
	content: counter(orderpunkt);
	counter-increment: orderpunkt; 
	position: absolute;
	left: -100px;
	font-family: Roboto, Arial;
	font-size: 15px;
	font-weight: 300;
	color: var(--white-item-color);
	background: var(--link-background-color);
	border-radius: 50px;
	padding: 18px;
}
.orderform {
	display: block;
	max-width: 350px;
	border: 3px solid rgb(255, 192, 42);
   	padding: 50px, 20px;
   	background: var(--white-item-color);
}
.orderform p {
	margin-bottom: 20px;
}
.orderform h3 {
	font-family: Open Sans;
	font-weight: 400;
	font-style: normal;
	color: rgba(3, 3, 3, 1);
	font-size: 26px;
	text-align: center;
	padding: 10px, 0px, 18px;
	margin: 20px;
}
input {
	max-width: 350px;
    padding: 10px;
    margin: 0 30px 0 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[placeholder] {
	width: 250px;
}
input[type="submit"] {
	display: inline-block;
	text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
    background-color: var(--link-background-color);
    padding: 20px 30px 20px 30px;
    margin: 0 71px 0 71px;
    border-radius: 10px;
	border: none;
	cursor:pointer;
}
#partners {
	background-image: url(img/background-004.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#partners h2 {
	color: var(--white-item-color);
}
#partners p {
	color: var(--white-item-color);
}
.image-gallery {
	display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#partners li {
	list-style-type: none;
	padding-bottom: 40px;
}

/*Стилизация футера*/
footer {
	background-color: var(--main-color);
}
.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0 20px 0;
}
.footer a {
	text-decoration: none;
}
.footer a .logo-name {
	display: block;
	color: var(--white-item-color);
	font-family: Roboto, sans-serif;
	font-size: 42px;
	font-style: bold;
	font-weight: 1000;
}
.footer .logo-accent {
	color: var(-link-background-color);
}
.footer-lozung {
	text-align: center;
}
.footer-text {
	font-family: Open Sans, Arial;
	color: var(--white-item-color);
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
}
.footer-accent-text {
	font-family: Open Sans, Arial;
	color: var(--link-background-color);
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
}
.footer-menu li {
	list-style-type: none;
}
.footer-menu li a {
	text-decoration: none;
	color: var(--white-item-color);
}
.footer-menu li a:hover {
	color: var(--link-background-color);
}
.address-box span {
	font-family: Open Sans, Arial;
	font-size: 14px;
	color: var(--white-item-color);
	line-height: 2.1;
}
.address-box a {
	text-decoration: none;
}
.burger {
	display:none;
}

/* Адаптив для планшетов */
@media (max-width: 1050px) {
	.container {
		width: 100%;
		margin: auto;
	}
	.header {
		width: 100%;
	}
	.header a .logo-name {
		margin-left: 20px;
	}
	.nav-menu {
		display: none;
	}
	.burger {
	display: block;
	cursor: pointer;
	padding-right: 50px;
	}
	.burger span {
	width: 30px;
	height: 4px;
	background: #fff;
	display: block;
	margin: 4px;
	}
	.nav {
	position: relative;
	}
	.mob-nav-menu li a {
    padding: 14px 20px;
    display: block;
	}
	.mob-nav-menu {
	list-style: none;
	background: #ddd;
	position: absolute;
	right: 0;
	width: 200px;		
	}
	.phone-number {
	display: none;
	}
	.head-text-style {
		font-size: 35px;
	}
	.head-yellow-text {
		font-size: 35px;
	}
	.paragraph-text-style {
		font-size: 32px;
	}
}
@media(max-width: 1000px) {
	#hero h1 {
		max-width: 70%;
		font-size: 33px;
		margin: 0 auto;
	}
	.facts-block {
		flex-wrap: wrap;
	}
	#facts-about-company img {
		margin: auto;
	}
	#facts-about-company h2 {
		width: 90%;
		margin: auto;
	}
	#facts-about-company h3{
		text-align: center;
	}
	#facts-about-company p {
		width: 90%;
		margin-left: 20px;
	}
	.price-list {
		width: 93%;
	}
	.prices {
		width: 290px;
		margin: 0 10px 0 10px;
	}
	#cta h2 {
		max-width: 70%;
		margin: auto;
	}
	#cta p {
		text-align: left;
		margin: 10px 20px 30px 70px; 
	}
}
@media (max-width: 1050px) {
	.content-list {
		width: 93%;
		text-align: center;
		flex-wrap: wrap;
		margin: auto;
	}
	.content-list span {
		display: block;
		max-width: 270px;
	}
	.auto-list {
		max-width: 350px;
		margin-right: 20px;
	}
	.auto-list img {
		width: 100%;
	}
	.order-container {
		width: 80%;
		margin: auto;
		text-align: center;
		padding-bottom: 90px;
	}
	.footer {
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 1000px) {
	.content-list {
		width: 93%;
		text-align: center;
		flex-wrap: wrap;
		margin: auto;
	}
	.content-list span {
		display: block;
		max-width: 270px;
	}
	.auto-list {
		max-width: 280px;
		margin-right: 10px;
	}
	.auto-list img {
		width: 100%;
	}
	.order-container {
		width: 80%;
		margin: auto;
		text-align: center;
		flex-wrap: wrap;
	}
	.order-containter li {
		font-size: 50px;
	}
	#order li:before {
		left: 0;
		font-size: 12px;
		border-radius: 50px;
		padding: 12px; 

	}
@media (max-width: 1000px) {
	.footer {
		width: 80%;
		margin: auto;
	}
	.footer .address-box {
		display: inline-block;
		justify-content: space-between;
		align-items: center;
		margin: auto;
	}
}
@media (max-width: 1050px) {
	.orderform {
		max-width: 600px;
		margin-bottom: 50px;
	}
	input {
		max-width: 600px;
	}
	input[placeholder] {
		width: 500px;
	}
	#partners .paragraph-text-style {
		max-width: 70%;
		margin: auto;
	}
	.image-gallery {
		padding-top: 30px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}
@media (max-width: 1000px) {
		.orderform {
		max-width: 600px;
		margin-bottom: 50px;
	}
	input {
		max-width: 600px;
	}
	input[placeholder] {
		width: 500px;
	}
	#partners .paragraph-text-style {
		max-width: 70%;
		margin: auto;
	}
	.image-gallery {
		padding-top: 30px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}
}

/* Адаптив- смартфон */

@media (max-width: 600px) {
	.header a .logo-name {
	margin-left: 20px;
	}
	.nav-menu {
	display: none;
	}
	.burger {
	display: block;
	cursor: pointer;
	padding-right: 20px;
	}
	.burger span {
	width: 30px;
	height: 4px;
	background: #fff;
	display: block;
	margin: 4px;
	}
	.nav {
	position: relative;
	}
	.mob-nav-menu li a {
    padding: 14px 20px;
    display: block;
	}
	.mob-nav-menu {
	list-style: none;
	background: #ddd;
	position: absolute;
	right: 0;
	width: 200px;		
	}
	.phone-number {
		display: none;
	}
	.head-text-style {
		font-size: 20px;
	}
	.paragraph-text-style {
		font-size: 17px;
	}
}
@media (max-width: 600px) {
	#hero h1 {
		font-size: 30px;
		margin: 0 auto;
	}
	
	#facts-about-company img {
		width: 100%;
	}
	.facts-block {
		flex-wrap: wrap;
	}
	.facts-block-text {
		margin: 10px 10px 30px 30px;
	}
	#facts-about-company h3 {
		font-size: 22px;
		margin: 10px 0 10px 0; 
		text-align: center;
	}
	.facts-block-text p {
		font-size: 20px
		line-height: 1.8;
		text-align: left;
	}
	.our-prices-block {
		margin-bottom: 0;
	}
	.price-list {
		width: 100%;
		flex-direction: column;
	}
	.prices {
		width: 100%;
		align-items: center;
		margin: 0;
	}
}
@media screen and (min-device-pixel-ratio: 2), 
		screen and (min-resolution: 2dppx)
		screen and (min-resolution: 375px) {
			.hero {
				background-image: url(img/hero-bg@2x.png);
			}
		}
@media (max-width: 600px) {
	#cta p {
		text-align: left;
		margin: 10px 10px 30px 30px; 
	}
	.head-text-style {
		font-size: 25px;
		margin-top: 20px;
	}
	.head-yellow-text {
		font-size: 25px;
		margin: 0 auto; 
	}
	.clients {
		margin: auto;
	}
	.content-list {
		width: 100%;
		/*flex-wrap: wrap;*/
		text-align: center;
		flex-direction: column;
	}
	.auto-list {
		max-width: 100%;
		text-align: center;
		flex-direction: column;
		margin: auto;
	}
	.auto-list img {
		width: 95%;
		display: block;
		margin: auto;
	}
	#autos {
		background-image: none;
	}
	#autos h3 {
		text-align: center;
		font-size: 22px;
		padding-top: 15px;
	}
	#autos p {
		font-size: 20px;
		text-align: center;
		font-weight: bold;
	}
	#autos span {
		margin: auto;
		padding-bottom: 30px;
		font-size: 18px;
	}
}
@media (max-width: 600px) {
	.order-container {
		width: 100%;
		flex-direction: column;
		justify-content: center;
	}
	#order li:before {
		left: 0;
		font-size: 12px;
		border-radius: 50px;
		padding: 12px; 
	}
	#order li {
		width: 180px;
		word-wrap: break-word;
		padding: 0 0 30px 50px;
		font-size: 15px;
	}
	.orderform {
		width: 100%
		margin: 0 5px 0 5px;
	}
	.orderform h3 {
		font-size: 20px;
		padding: 5px 0 13px;
	}
	input {
		max-width: 200px;
	}
	input[type="submit"] {
		width: 100%;
		font-size: 15px;
		padding: 10px 20px 10px 20px;
		margin: auto;
	}
}
@media (max-width: 600px) {
	.image-gallery {
		margin-left: 3%;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
	}
	.footer {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.footer a .logo-name {
		text-align: center;
		margin-bottom: 15px;
	}
	.footer-menu {
		margin-bottom: 15px;
	}
	.footer-lozung {
		margin-bottom: 15px;
	}
}
@media (max-width: 340px) {
	#hero h1 {
		font-size: 25px;
	}
	img {
		width: 100%;
	}
	.auto-list {
		padding: 0;
	}
	#autos span {
		margin-left: 8px;
	}
	.order-container .orderform {
		width: 80%;
		margin: 0 5px 0 5px;
	}
	.orderform h3 {
		font-size: 15px
	}
	input {
		max-width: 150px;
	}
	.image-gallery {
		width: 50%;
		margin-left: 70px;
		grid-template-columns: 1fr;
	}
	.footer a .logo-name {
		text-align: center;
	}
}
@media (min-width: 530px, max-width: 550px) {
	.order-container li:before {
		font-size: 24px;
		left: 10px;

	}
	.order-container li {
		font-size: 30px;
	}

	input {
		max-width: 300px;
	}
	input[type="submit"] {
		width: 60%;
		font-size: 15px;
		padding: 15px 20px 15px 20px;
		margin: auto;

	}
	.image-gallery {
		margin-left: 10%;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
	}
}